version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: website-frontend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PUBLIC_API_URL=${PUBLIC_API_URL}
    ports:
      - "3000:3000"
    networks:
      - restaurant-network

networks:
  restaurant-network:
    driver: bridge
    name: restaurant-network
